* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.App{
  background-color: wheat;
}

/* .card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: max-content;
} */

.card {
  border-radius: 8px;
  padding: 10px;
  border: black 10px;
  box-shadow: 0px 0px 8px #ccc;
  color: #253b56;
  margin: 12px 12px;
  justify-content: right;

}

.cardImage {
  background-color: lightGray;
  border-radius: 10px 10px 0 0;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.main-nav {
  top: 0;
  left: 0;
  right: 0;
}

nav a {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1.2em;
  color: firebrick;
  border-bottom: 2px solid firebrick;
  transition: 0.1s;
}