* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: wheat;
  font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;

}

.header-div {
  display:block
}

.main-nav {
  top: 0;
  left: 0;
  right: 0;
}

nav a {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1.2em;
  color: firebrick;
  border-bottom: 2px solid firebrick;
  transition: 0.1s;
}

.search-bar{
text-align: right;
}

.Searchby{
  text-align: center;
  border: 3px solid black;
  padding: 5px;
  font-size: 1rem;
}

.newGameForm{
text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.card {

background-color: white;
border-radius: 1rem;
box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
margin: 12px 12px;
display: flex;
flex-direction: column;
overflow:hidden 

}

.cardImage {
  background-position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: lightGray;
  border-radius: 10px 10px 0 0;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  object-fit: contain;
  overflow: hidden;
}

.gameName {
  text-align: center;
  color: black;
  font-size: 1.1rem
}

.playhere {
  text-align: center;
}

.main-info {
  text-align: center;
}

.buttons {
  display: grid;
}

#secondary-info{
  font-size: 100%;
}


.PageHeader {
  text-align: center;
}


